
$white: #ffffff;
$whitesmoke: #f2f4f8;
$lavender: #e5eaf1;
$darkgray: #9faab7;
$sandybrown: #ffc346;
$darkorange: #fe9821;
$seashell: #fff7ee;
$goldenrod: #ffab2b;
$red: #e6222d;
$crimson: #e7004b;
$violetred: #ea2e68;
$lightcoral: #fe5884;
$deeppink: #fc3498;
$skyblue: #18b2fa;
$dodgerblue: #1a8af4;
$seagreen: #24b85e;
$silver: #aeb7c2;
$darkslategray: #4a5461;
