
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: $lavender;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet {
    width: 300px;
    background-color: $whitesmoke;
    border-radius: 30px;
    position: relative;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}


// Main
.main {
    padding: 20px 30px 70px 30px;
}

// Market
.market {
    width: 100%;
    border-radius: 10px;
    background-color: $white;
    padding:20px 20px 10px 20px;
}

.mkt-row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mkt-row2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btc, .bbtc, .sbtc {
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom, $sandybrown, $darkorange);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btc-icon {
    color: $white;
}

.btc-text, .btc-abb, .bbtc-text {
    font-weight: 500;
    font-size: 12px;
    color: $darkslategray;
}

.btc-abb {
    color: $darkgray;
}

.bit {
    color: $darkslategray;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.mkt-row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.btc-amt {
    color: $darkgray;
    font-weight: 400;
    font-size: 16px;
}

.btc-pct {
    width: 50px;
    height: 20px;
    background-color: $crimson;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pct {
    font-size: 10px;
    font-weight: 400;
    color: $white;
}

.mkt-row4 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.down-icon {
    font-size: 20px;
    color: $darkgray;
}

.arrow-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
}
  
.extra-info {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-toogle {
    color: $silver;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.btn-toogle:hover, .btn-toggle:active {
    background: $darkgray;
    color: $lavender;
}

// Chart
.chart, .chart-close {
    width: 100%;
    border-radius: 10px;
    background-color: $white;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.chart-div {
    margin-left: -20px;
    width: 100%;
}

.chart-close {
    margin-top: 10px;
}

.top-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diff-div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.micro, .micro2 {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: $crimson;
}

.micro2 {
    background-color: $seagreen;
}

.diff-text {
    font-weight: 500;
    font-size: 10px;
    color: $silver;
}

.label {
    color: $darkslategray2;
    font-size: 12px;
    font-weight: 400;
}

// Transact
.transact {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}

.trct-col1 {
    width: 50%;
    height: 80px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bbtc-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.bbtc {
    background: linear-gradient(to bottom, $skyblue, $dodgerblue);
}

.bbtc-text {
    text-align: center;
}

.sbtc {
    background: linear-gradient(to bottom, $lightcoral, $deeppink);
}


@media only screen and (max-width: 600px) {

    .wallet {
        width: 100%;
        border-radius: 0;
    }

    // .main {
    //     padding: 42px 30px 92px 30px;
    // }

    // .chart, .transact {
    //     margin-top: 40px;
    // }
}
